archive
bin
.metadata
__pycache__
*.log
*.o
*.a
*.d
test.xml
.DS_Store

# Visual Studio 
.vs
*.exe
*.ilk
*.pdb
*.user
*.obj
*.idb
*.recipe
*.tlog
*.code-workspace

# Eclipse
language.settings.xml

# xpro cli ouput
xp
test-xp
debug-xp

# Test file for unit tests
test.xml

# Release packages
packages

# Build hash
.hash