archive/*
.vs/*
.vscode/*
Profile/archive/*
VCODE_Powershell.code-workspace
VC-Powershell.code-workspace
FTPFromVolta.ps1

# Work
Functions/KiranTickets.ps1
Functions/BANKURL.ps1

# Test files
test*.*

# Update Files
update*.*

# Misc Code
Playground/*