archive/*
.vs/*
Profile/*
*.code-workspace
FTPFromVolta.ps1
bin/credentials/
Resources/Calendar/*
Resources/MathImports/*
ssh.json

# Work
Functions/KiranTickets.ps1
Functions/BANKURL.ps1
Config/Server.xml

# Test files
test*.*

# User Config 
Config/User/*

# Debug
Resources/Debug.ps1

# Logs
logs/User/*

# Cache
Cache/*