<?xml version="1.0" encoding="ISO-8859-1"?>
<Machine xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Shell>
    </Shell>
    <Modules>
    </Modules>
    <Functions>
    </Functions>
    <Directories>
    </Directories>
    <Aliases>
    </Aliases>
    <Objects>
    </Objects>
</Machine>